In [2]:
!pipenv shell

Shell for /home/subbash/.local/share/virtualenvs/Recommendation-AqPCIDG6 already activated.
No action taken to avoid nested environments.

In [1]:
import scrapy
import requests
from scrapy.http import TextResponse
from scrapy import Selector
import csv
import pandas as pd
from rake_nltk import Rake
import numpy as np
import html
import xml
import re
import string
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from random import randint

ModuleNotFoundError: No module named 'scrapy'

In [5]:
from IPython.display import Markdown, display
def printmd(string):
    display(Markdown(string))

# Scraping

In [6]:
!ls

 environment.yml        node_modules	    Pipfile
 express_crash_course   package.json	    predict.py
 index.js	        package-lock.json  'Prototype local.ipynb'

In [24]:
res = requests.get('https://www.timeout.com/singapore/restaurants/the-50-best-restaurants-in-singapore')
response = TextResponse(res.url, body=res.text, encoding='utf-8')

#with open("Upcoming Music Festivals And Concerts In Singapore 2019.html") as f:
#    page = f.read()

#response = TextResponse('Source', body=page, encoding='utf-8')
#response

In [25]:
titles1 = response.xpath('//*[@id="content"]/article/div/div[2]/div[1]/div/div/article/div[2]/header/h3/a/text()')
#titles1.getall()

In [26]:
articles = response.xpath('//*[@id="content"]/article/div/div[2]/div[1]/div/div/article')
y = [Selector(text=i.get()) for i in articles]
y

[<Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>,
 <Selector xpath=None data='<html><body><article class="listCard ...'>]

In [27]:
des = [i.xpath('//p').getall() for i in y] 
len(des)

55

In [28]:
titles2 = [i.xpath('//h3//text()').getall() for i in y] 
len(titles2)

55

In [29]:
titles2[4]

['\n                    ',
 '\n                New Ubin Zhongshan Park\n            ',
 '\n            ']

In [30]:
des[4]

["<p>Opening its third outlet on the island and first hotel restaurant, New Ubin Group is quickly solidifying itself as Singapore's zi\xa0char king. It's built a reputation\xa0of serving hearty local favourites as well as some unexpected creations you wouldn't usually find at your typical heartland joint. Its most famous dish is\xa0the USDA Black Angus ‘Choice’ Rib-Eye (from $80/500g) served medium-rare with caramelised\xa0onions, potato wedges and various sauces but you definitely need to have it with New Ubin's signature Heart Attack Fried Rice, which is fried with beef drippings. Aside from its star creation, other must-tries include the\xa0Foie Gras Egg Special ($10.50), pan-seared foie gras served with soft boiled eggs sprinkled with truffle salt; mud crabs (from $48/400g) baked with copious amounts of garlic; as well as the Boss Bee Hoon ($12), a wok hei\xa0bomb of just three simple ingredients: rice vermicelli, egg and chye sim.</p>"]

In [42]:
write = [[i[1],0,''.join(j)] for i,j in zip(titles2, des) if len(i)>0]
write[4]

['\n                New Ubin Zhongshan Park\n            ',
 0,
 "<p>Opening its third outlet on the island and first hotel restaurant, New Ubin Group is quickly solidifying itself as Singapore's zi\xa0char king. It's built a reputation\xa0of serving hearty local favourites as well as some unexpected creations you wouldn't usually find at your typical heartland joint. Its most famous dish is\xa0the USDA Black Angus ‘Choice’ Rib-Eye (from $80/500g) served medium-rare with caramelised\xa0onions, potato wedges and various sauces but you definitely need to have it with New Ubin's signature Heart Attack Fried Rice, which is fried with beef drippings. Aside from its star creation, other must-tries include the\xa0Foie Gras Egg Special ($10.50), pan-seared foie gras served with soft boiled eggs sprinkled with truffle salt; mud crabs (from $48/400g) baked with copious amounts of garlic; as well as the Boss Bee Hoon ($12), a wok hei\xa0bomb of just three simple ingredients: rice vermicelli, egg and chye sim.</p>"]

In [43]:
with open('raw_data.csv', 'a', encoding='utf-8') as f:
    writer = csv.writer(f, delimiter=',')
    writer.writerows(write)

# Cleaning

In [44]:
df = pd.read_csv('raw_data.csv', encoding='latin-1')
df.tail()
len(df)

220

In [45]:
char_num = set('0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ!?$"\'()+-*/ .')

def just_text(text):
    text = ''.join(filter(lambda x: x in char_num, text)).strip()
    return re.sub(' +', ' ',text)

df['title'] = df['title'].map(just_text)
df.drop_duplicates(subset='title', keep='first', inplace=True)

print(len(df))
df.tail()

55

,title,rating,des
50,,0,"<p>Explore the <a href=""http://timeoutmarket.c..."
51,The best new restaurants cafs and bars in Sing...,0,NaN
52,The best cheap eats in Singapore,0,NaN
53,The best hawker centres in Singapore,0,NaN
54,The best vegetarian and vegan restaurants in S...,0,NaN

In [38]:
df.set_index('title', inplace = True)

#df.reset_index(inplace = True)

In [39]:
print(len(df))
df.tail()

55

,rating,des
title,,
,0,"<p>Explore the <a href=""http://timeoutmarket.c..."
The best new restaurants cafs and bars in Singapore,0,NaN
The best cheap eats in Singapore,0,NaN
The best hawker centres in Singapore,0,NaN
The best vegetarian and vegan restaurants in Singapore,0,NaN

In [40]:
df['des']['Veganburg']

KeyError: 'Veganburg'

In [41]:
TAG_RE = re.compile(r'<[^>]+>')

def remove_tags(text):
    return TAG_RE.sub(' ', text)

remove_tags(df['des'][])

KeyError: 'Veganburg'

In [32]:
df['des'] = df['des'].map(remove_tags)

In [33]:
string.printable

'0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~ \t\n\r\x0b\x0c'

In [34]:
just_text(df['des']['Veganburg'])

'Burger joints are a dime a dozen in Singapore. But theres possibly only one which is VeganBurg that like its name suggests offers vegan burgers. The fast-food vegan joint doesnt let the plant-based ethos limits its range instead youll be offered a variety of seven burger mainstays plus other seasonal offerings. Other sidekicks tocomplement your meal include vegan hot dogs crispy fries drenched in awesome sauces and even char0grilled brocooi sticks if youre laying off on carbs. TRY The best-selling Smoky BBQ Burger ($11.90) featuring a bbq sauce-clad plant-based patty lettuce tomatoes and onion rigns cushioned between wholemeal buns. For something that hits close to home opt for the Char-Grilled Satay Burger ($10.90) that has nutty satay sauce slathered on its plant-based patties.'

In [35]:
df['des'] = df['des'].map(just_text)

In [36]:
def keywords(x):
    r = Rake()
    r.extract_keywords_from_text(x)
    return ' '.join(list(r.get_word_degrees().keys()))

df['words'] = df['des'].map(keywords)

In [37]:
df.tail()

,category,des,words
title,,,
Salted and Hung,0,Curing smoking and fermenting are front and ce...,fermenting salami clear nocentes aussie roots ...
Humpback,0,It might not live by the sea but this beach sh...,always beach shack along bukit pasoh road live...
Ding Dong,0,This contemporary South-East Asian restaurant ...,fun spa esprit group rendang beef brisketbuns ...
Teppei Japanese Restaurant,0,The only place where you can get a six- to nin...,always salmon nine c hef yamashita teppeis 17 ...
Skai,0,Perched on the 70th floor of the Swissotel the...,70th floor self perched surprise also steak of...

In [46]:

df.to_csv('clean_data.csv')
df = pd.read_csv('clean_data.csv', encoding='latin-1')
df['id'] = df.index
df.set_index('title', inplace = True)
df.to_csv('clean_data.csv')

# Cosine Similarity

In [47]:
df = pd.read_csv('clean_data.csv', encoding='latin-1')

In [48]:

df.set_index('title', inplace = True)
df.tail()

,Unnamed: 0,rating,des,id
title,,,,
NaN,50,0,"<p>Explore the <a href=""http://timeoutmarket.c...",50
The best new restaurants cafs and bars in Singapore,51,0,NaN,51
The best cheap eats in Singapore,52,0,NaN,52
The best hawker centres in Singapore,53,0,NaN,53
The best vegetarian and vegan restaurants in Singapore,54,0,NaN,54

In [5]:
count = CountVectorizer()
count_matrix = count.fit_transform(df['words'])

In [6]:
cosine_sim = cosine_similarity(count_matrix, count_matrix)
cosine_sim

array([[1.        , 0.04067259, 0.05661385, ..., 0.02199529, 0.02564103,
        0.0457509 ],
       [0.04067259, 1.        , 0.02245066, ..., 0.01744481, 0.        ,
        0.        ],
       [0.05661385, 0.02245066, 1.        , ..., 0.04856429, 0.        ,
        0.02525381],
       ...,
       [0.02199529, 0.01744481, 0.04856429, ..., 1.        , 0.04399059,
        0.07849175],
       [0.02564103, 0.        , 0.        , ..., 0.04399059, 1.        ,
        0.06862635],
       [0.0457509 , 0.        , 0.02525381, ..., 0.07849175, 0.06862635,
        1.        ]])

In [7]:
def recommendations(title, cosine_sim = cosine_sim):
    
    recommended = []
    
    idx = df.loc[title, 'id']
    score_series = pd.Series(cosine_sim[idx]).sort_values(ascending = False)

    top_5_indexes = list(score_series.iloc[1:6].index)
    names = list(df.index)
    for i in top_5_indexes:
        recommended.append(names[i])
        
    return recommended

In [8]:
def next5(x):
    nexts = recommendations(x)
    printmd('**Current event:** <br>')    
    printmd(f"**{x}** *index:*  {df.loc[x,'id']} <br>*description:*  `{df.loc[x, 'des']} `<br>*keywords:* `{df.loc[x, 'words']}` <br><br>")
    printmd('**Next 5 similar events:** <br>')        
    for i in nexts:
        printmd(f"**{i}** *index:*  {df.loc[i,'id']} <br>*description:*  `{df.loc[i, 'des']} `<br>*keywords:* `{df.loc[i, 'words']}` <br> <br>")

In [41]:
rand = randint(0,541)
x = df.index[rand]
next5(x)

**Current event:** <br>

**Marina Barrage** *index:*  272 <br>*description:*  `That this spot isn't more popular is hard to believe. With a breathtaking 360-degree view of the Marina Bay area and copious amounts of open space not only is it the perfect picnic spot in Singapore but you get a view of all three of the Marina Bay Sands towers the Gardens By The Bay Supertrees and the Domes plus at sunset there's kites of all shapes and sizes unfurled and flapping in the wind. `<br>*keywords:* `flapping shapes marina bay sands towers area kites get domes plus breathtaking 360 degree view wind three sizes unfurled copious amounts supertrees sunset spot believe hard popular perfect picnic open space gardens singapore` <br><br>

**Next 5 similar events:** <br>

**Roof Terrace Esplanade** *index:*  271 <br>*description:*  `Who knew that the rooftop of the Esplanade had such a romantic view of the Marina Bay area? Plus if you position yourself right theres the majestic Fullerton Hotel in the backdrop and if all else fails the manicured garden setting makes a good ootd spot. `<br>*keywords:* `backdrop good ootd spot esplanade manicured garden setting makes right theres position majestic fullerton hotel romantic view knew else fails rooftop plus marina bay area` <br> <br>

**Snap that money shot at Marina Bay Sands** *index:*  26 <br>*description:*  `What is it? Considered as one of Singapores most iconic structures the posh hotel features three floor-to-ceiling windowed towers ascending at 200-metres high. Why go? Besides having the chance to live the high life the Marina Bay Sands also houses some of the citys top restaurants and bars for guests to wine and dine while basking in a birds eye view of Singapore. Alternatively you can snap stunning pictures while taking a dip in the rooftop infinity pool. Dont miss Only hotel guests are allowed access to the rooftop pool so book yourself a room pronto. `<br>*keywords:* `live considered 200 hotel guests bars dont miss metres high wine ceiling windowed towers ascending alternatively rooftop infinity pool allowed access book taking singapores one go life dip besides snap stunning pictures iconic structures marina bay sands also houses chance citys top restaurants posh features three floor dine birds eye view basking room pronto singapore` <br> <br>

**Make your fortune at the Marina Bay Sands Casino** *index:*  39 <br>*description:*  `What is it? A four-level world-class resort casino housed in the iconic Marina Bay Sands. Why go? With more than 15000 square metres of gaming space the Marina Bay Sands Casino features approximately 600 table games and over 1500 slot machines. Boasting a comprehensive selection of the most popular electronic game machines along with more than 30 private gaming rooms youll have plenty of time to check out all of them as the Casino is open all night long. Dont miss Your passport is needed for you to gain entry so remember to bring it along. Foreigners get free entrance and are also allowed to enter as many times if permissible. If youre staying at the Marina Bay Sands and need a break be sure to head on up to the rooftop deck to admire the gorgeous view of the city skyline. `<br>*keywords:* `bring comprehensive selection passport gain entry four open marina bay sands casino features approximately 600 table games rooftop deck dont miss 30 private gaming rooms youll plenty iconic head admire need popular electronic game machines along enter check go 1500 slot 15000 square metres city skyline sure class resort housed boasting break also allowed many times night long time remember space gorgeous view level world needed permissible youre staying foreigners get free entrance` <br> <br>

**Go to infinity and beyond** *index:*  261 <br>*description:*  `Relentlessly touted as the world's largest and highest the Marina Bay Sands infinity pool needs no introduction. Perched on the 57th floor of Marina Bay Sands its strategic location allows for unrivalled views of Singapore's glistening cityscape thatll make even the most social media adverse person want to snap a photo. For $20 you can enjoy the unfettered view from the Observation Deck but to actually take a dip in the pool you need to be a hotel guest. So get booking. `<br>*keywords:* `actually take observation deck perched hotel guest strategic location allows largest 20 marina bay sands highest need relentlessly touted world dip get booking photo social media adverse person want glistening cityscape thatll make even pool enjoy introduction unrivalled views snap unfettered view infinity needs 57th floor singapore` <br> <br>

**Marina Barrage Water Playground** *index:*  364 <br>*description:*  `With water gushing up from almost 30 sockets you're guaranteed to get soaked when you run through this fountain. If your family doesnt fancy a wet cool-down on a hot day they can wait underneath the shaded seating area right beside the fountain and enjoy the great view of the Marina Bay skyline. Cap the day off with a picnic on the Green Roof where your kids can dry themselves under the sun. Opening timesMon Wed amp Fri 12.30-9pm Tue Thu Sat amp Sun 9am-9pm. `<br>*keywords:* `get soaked marina bay skyline picnic guaranteed day almost 30 sockets green roof dry shaded seating area right beside cap wait underneath 9pm tue thu sat amp sun 9am run fountain family doesnt fancy hot great view kids water gushing enjoy opening timesmon wed fri 12 wet cool` <br> <br>